<h1>Listas</h1>

<div class="xlsx-btn">
  <%= button_to 'Exportar Listas', export_lists_path, method: :get, class: 'action-button' %>

  <%= button_to 'Baixar Arquivo', download_lists_path, method: :get, class: 'action-button' %>
</div>

<%= button_to new_list_path, method: :get, class: 'action-button' do %>
  Nova Lista
<% end %>

<div id="lists">
  
  <% @lists.each do |list| %>
    <div class=item>
      <%= render list %>
        <div>
          <%= button_to list_tasks_path(list), method: :get, class: 'action-button' do %>
            Tarefas
          <% end %>
          <%= button_to list_path(list), method: :get, class: 'action-button' do %>
            Visualizar
          <% end %>
        </div>
    </div>
  <% end %>
  
</div>




