<h2 class="auth-title">Registre-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'signup-form' }) do |f| %>

  <% if resource.errors.any? %>
    <div style="color: red">
      <h2>Erros ao tentar salvar o Usuário:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="input-auth">
      <%= f.label :email, "Email", class: 'auth-label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "auth-input" %>
    </div>
  </div>

  <div class="field">
    <div class="input-auth">
      <%= f.label :password, "Senha", class: 'auth-label' %>
      <% if @minimum_password_length %>
      <em class="password-hint">(<%= @minimum_password_length %> caracteres mínimos)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "auth-input" %>
      </div>
  </div>

  <div class="field">
    <div class="input-auth">
      <%= f.label :password_confirmation,"Confirmação de Senha", class: 'auth-label' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "auth-input" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Registrar", class: "auth-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
